theme = "base16_transparent"

[editor]
line-number = "relative"
mouse = true
completion-replace = true
trim-trailing-whitespace = true
trim-final-newlines = true
bufferline = "multiple"
scrolloff = 8
color-modes = true
end-of-line-diagnostics = "hint"
# rainbow-brackets = true
# cursorline = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.statusline]
left = ["mode", "spinner", "read-only-indicator", "file-modification-indicator"]
center = ["file-name", "version-control"]
right = ["diagnostics", "selections", "position", "file-encoding", "file-line-ending", "file-type"]
separator = "│"
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.lsp]
goto-reference-include-declaration = true
display-inlay-hints = true
display-progress-messages = true

[editor.indent-guides]
render = true

[editor.soft-wrap]
enable = true

[editor.inline-diagnostics]
cursor-line = "warning" # show warnings and errors on the cursorline inline

[editor.whitespace.render]
space = "all"
tab = "all"
nbsp = "none"
nnbsp = "none"
newline = "none"

[editor.whitespace.characters]
space = "·"
nbsp = "⍽"
nnbsp = "␣"
tab = "→"
newline = "⏎"
tabpad = "·"

[keys.normal]
esc = ["collapse_selection", "keep_primary_selection"]
ret = "goto_word"
"S-tab" = ":buffer-previous"
"tab" = ":buffer-next"
X = "select_line_above"
A-k = ["extend_to_line_bounds", "delete_selection", "paste_after"]
A-j = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]


[keys.insert]
C-h = ["jump_view_left", "insert_mode"]
C-l = ["jump_view_right", "insert_mode"]

[keys.select]
ret = "extend_to_word"
X = "select_line_above"
A-j = ["extend_to_line_bounds", "delete_selection", "paste_after", "select_mode"]
A-k = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before", "select_mode"]

[keys.normal.space]
space = "buffer_picker"
b = [":sh git blame -L %{cursor_line},%{cursor_line} %{buffer_name}"]
x = ":bc"
X = ":bco"

[keys.normal.backspace]
backspace = "suspend"
# Yazi
e = [
  ':sh rm -f /tmp/unique-file',
  ':insert-output yazi %{buffer_name} --chooser-file=/tmp/unique-file',
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/unique-file}',
  ':redraw',
]

# Lazygit
g = [
  ':set mouse false',
  ':insert-output lazygit',
  ':redraw',
  ':set mouse true',
  ':open /tmp/lazygit_out.txt',
  'select_all',
  'split_selection_on_newline',
  'goto_file',
  ':buffer-close! /tmp/lazygit_out.txt',
  ':sh rm -f /tmp/lazygit_out.txt',
  ':rla'
]

# Scooter (find-and-replace)
s = [
    ":write-all",
    ":insert-output scooter >/dev/tty",
    ":redraw",
    ":reload-all"
]
